body{
    background-color: white;
    font-family: "Gill Sans Extrabold", sans-serif;
   
}

*{
    margin: 0px;
    padding: 0px;
}
.navbar{
  background-color: aliceblue;
    box-shadow: 2px 2px 2px gray;
}


img {
    width: 4rem;
    border-radius: 50%;
}




.container{
    background-image: url("img/maharashtra-board-class-10--12-results-2024-14075896-16x9_0.webp");
    background-position: center;
    background-size: cover;
    height: 70vh;
    margin-top: 2px;
}




footer{
    width: 100%;
    height: 15vh;
    background-color: cornflowerblue;
    box-shadow: 2px 2px 2px gray;
}


.btn-outline-success{
    margin-left: 40px;
}


.card{
    margin-top: 50px;
    box-shadow: 1px 1px 1px 1px rgb(207, 203, 203);
}


h1{
    text-align: center;
    margin-top: 5px;
    color: gold;
    text-shadow: 2px 2px 2px black;
}


























